<div class="main-view col-xs-12">
    <div class="coe-row col-xs-12">
        <div class=""><a ng-click="gotoCoe()">coe</a></div>
        <div class=""><a ng-click="gotoAllVersions()">Versions</a></div>
        <div class=""><a ng-click="gotoProdVersion()">Prod Version</a></div>
    </div>

    <div class="env-rows col-xs-12">
        <div class="row env-row" ng-repeat="env in environments">
            <div class="col-xs-2">{{env.name}}</div>
            <div class="col-xs-2">{{env.name2}}</div>
            <div class="col-xs-2"><a ng-click="gotoEnvironment(env, 'login')">{{env.url}}</a></div>
            <div class="col-xs-2"><a ng-click="gotoEnvironment(env, 'dev')">dev console</a></div>
            <div class="col-xs-2"><a ng-click="gotoEnvironment(env, 'setup')">setup</a></div>
            <div class="col-xs-2"><a ng-click="gotoEnvironment(env, 'version')">version</a></div>
        </div>
    </div>

    <div class="col-xs-12" style="margin-bottom:30px;">
        <input class="col-xs-10" ng-model="inputQuery" ng-keyup="$event.keyCode===13?inputEnter():null" autofocus/>
    </div>

    <div class="col-xs-12">
        <p class="head">Command Usage: (uat3 | ra11 | csstv) [login | dev | setup | version]</p>
        <p>case insensitive</p>
        <p>second paramter defaults to login</p>
        <p>second paramter only cares about first letter</p>
        <p class="head">Example command to open up setup view for PET1:</p>
        <p>peT1 setup</p>
        <p>rS11 s</p>
        <p>cssts set blah blah</p>
    </div>

    <div class="error-message col-xs-12">
        {{errorMessage}}
    </div>
</div>